:root {
    --tier-S: #FFA0A0;
    --tier-S-op: #005f5f;
    --tier-A: #FFCE9B;
    --tier-A-op: #003164;
    --tier-B: #FCFFA1;
    --tier-B-op: #03005e;
    --tier-C: #A2FF9E;
    --tier-C-op: #5d0061;
    --tier-D: #9DD0FC;
    --tier-D-op: #622f03;
    --tier-E: #A2A0FE;
    --tier-E-op: #5d5f01;
    --tier-F: #FD9FFE;
    --tier-F-op: #026001;
    --background: #555754;
    --border: 3px solid #434441;
    --foreground: #f5f5f5;
    --padding: 10px;
}

/** For each tier, set its color */
[data-tier=S] {
    --tier-color: var(--tier-S);
    --tier-color-op: var(--tier-S-op);
}

[data-tier=A] {
    --tier-color: var(--tier-A);
    --tier-color-op: var(--tier-A-op);
}

[data-tier=B] {
    --tier-color: var(--tier-B);
    --tier-color-op: var(--tier-B-op);
}

[data-tier=C] {
    --tier-color: var(--tier-C);
    --tier-color-op: var(--tier-C-op);
}

[data-tier=D] {
    --tier-color: var(--tier-D);
    --tier-color-op: var(--tier-D-op);
}

[data-tier=E] {
    --tier-color: var(--tier-E);
    --tier-color-op: var(--tier-E-op);
}

[data-tier=F] {
    --tier-color: var(--tier-F);
    --tier-color-op: var(--tier-F-op);
}

[data-tier] {
    --tier-color-light: color-mix(in srgb, var(--tier-color), #fff 50%);
    --tier-color-dark: color-mix(in srgb, var(--tier-color), #000 25%);
    --fancy-border-start: 40%;
    --fancy-border-end: 60%;
    --fancy-border-duration: 2s;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

table.fancy {
    --color: #212121;
    border: 1px solid var(--color);
    border-collapse: collapse;
}

table.fancy th, table.fancy td {
    border: 1px solid var(--color);
}

table.fancy th {
    background-color: #656565;
}

a {
    color: var(--foreground);
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

[hidden] {
    display: none !important;
}
